# Ignore all .log files
*.log
logs/

# Ignore node_modules folder
node_modules/

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore .env files
.env

# Ignore macOS system files
.DS_Store

activate.sh
*test*.py
create_db.py
fix_single_target.py
update_admin_password.py
smb_output_debug.txt
run_with_sudo.sh
program_files_output.txt
print_env.py
check_foxit_licenses.py
net*.db
migrate_sidney_db.py
net*.db*

venv/
macscans.py
apply_mac_vlan_changes.py
integrat_mac_vlan.sh
